<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <article class="widget">
                
                <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
                <div class="weatherInfo">
                    <div class="Temperature"><span></span></div>
                    <div class="description">    
                        <div class="Forecast">{{message}}</div>    
                        <div class="Location"></div>
                    </div>
                </div>
                <div class="date"></div>
            </article>
        

    </div>

{{>footer}}
</body>
</html>
