body{
    color: #333333;
    font-family: roboto; 
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:  lightcyan;
}
.main-content{
    flex-grow: 1;
}

footer{
    color:black;
    border-top: 2px solid black;
    margin-top: 16px;
    padding: 16px 0;
    font-weight: bold;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;        
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
    text-align-last: center;
}
header a{
    color: palevioletred;
    margin-right: 16px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    align-items: center;
}
.portrait{
    height: 300px;
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;

}
button{
    cursor: pointer;
    border: 1px solid black;
    background:black;
    color: lightcyan;
    padding: 8px;
    font-weight: bold;
}
#message-1{
    color: black;
    font-size: large;
    font-weight: bold;
}
#message-2{
    color:  black;
    font-size: large;
    font-weight: bold;
}
#message-3{
    color:  black;
    font-size: large;
    font-weight: bold;
}
#message-4{
    color: black;
    font-size: large;
    font-weight: bold;
}

.pack{
    font-size: larger;
}